
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    animation: fadeInUp 0.5s forwards 0.5s;
    padding: 50px;
    width: 60% !important;
}

@media (max-width: 768px) {
    .main {
        width: 95% !important;
}
}



@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-primary {
    background-color: #211c09 !important;
    border: none !important;
    color: #ffffff !important;
    padding: 10px 20px !important;
    font-weight: 600 !important;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-primary:hover {
    background-color: #ffae23 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.button-link {
    background: none !important;
    border: none !important;
    color: #666666 !important;
    text-decoration: none !important;
    cursor: pointer !important;
    transition: color 0.3s;
}

.button-link:hover {
    color: #333333 !important;
}